.center{
    text-align: center;
    align-items: center;
    font-size: 2.0rem;
}



h2{
    text-align: center;

    font-size: 2.5rem;
}


#heading{
    color: white;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 6%;
    background: url(../img/milkbg.jpg) no-repeat;
    background-size: cover;
}

#border{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 5px;
}

.title{
    font-size: 3rem;
    text-align: center;
}

.buy{
    font-size: 1.5rem;
    text-align: center;
}



.desc{
    text-align: center;
    align-items: center;
    font-size: 1.7rem;
}


.mar{
    margin-left: 10px;
    padding-bottom: 5%;
}


.grey{
    background-color: lightgray;
    padding-bottom: 3%;
    overflow: hidden;
}


.marg{
    margin-left: 5%;
    
}

.about{
    text-align: center;
    padding-top: 2%;
}

.space{
    padding-top: 3%;
    overflow: hidden;
    text-align: center;
}

.monster{
    max-width: 90%;
    max-height: 90%;
}

.contact{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
    color: white;
    background-color: #03b1fc;
}

#end{
    text-align: center;
    padding-bottom: 10px;
}