.container-fluid{
    text-align: center;
}

#about{
    background-color: lightgray;
}

.header-container{
    position: relative;
    text-align: center;
    color: white;
}

.cookies{
    padding-top: 4pc;
    padding-bottom: 4pc;
}

.header-text{
    position:absolute;
    background:rgba(71, 71, 71, 0.137);
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:35px;
    text-align:center
}

.text-center{
    text-align: center;
    padding-bottom: 5pc;
}

.cookies-img {
    width:85%;
    border-radius: 50%;
}