* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}