/* index.html styles */
*{
    text-align: center;
}

.cookies{
    border-radius: 50%;
}

header{
    background-image: url('../img/milkbg.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}
header div {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin: auto;
    width: 400px;
    position: relative;
    top: 20%;
    border-radius: 2%;
}
h3 span{
    background-color: tomato;
    color: white;
    font-size: medium;
    border-radius: 10%;
}

article{
    background-color: rgb(209, 209, 209);
    height: 250px;
    
}
article img {
    float:left;
    margin-right: 40px;
}
article div{
    text-align: left;
}
footer{
    background-color:deepskyblue;
    color: white;
}
.row{
    margin: 10px 0;
    padding: 0 30px;
}
h2{
    padding: 20px 0;
}
p{
    font-family: 'Oswald', sans-serif;
}